body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #2C3A47;
  margin: 0;
}

.clean-link {
  text-decoration: none;
  color: inherit;
}

html, body {
  -ms-overflow-style: none;  /* Edge */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

