html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  -ms-overflow-style: none;  /* Edge */
  scrollbar-width: none;     /* Firefox */
}


.clean-link {
  text-decoration: none;
  color: inherit;
}

html, body {
  -ms-overflow-style: none;  /* Edge */
  scrollbar-width: none;     /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

