name: Build frontend dev

on:
  push:
    branches: [ "staging" ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: create docker image
      run: docker build --build-arg VITE_API_BASE_URL=http://serkof.com/api -t pwa_frontend:dev -f ./frontend/Dockerfile ./frontend
  
    - name: Log in to GitHub Container Registry (GHCR)
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Tag and push Docker image for pwa_frontend to GHCR
      run: |
        OWNER=$(echo "${{ github.repository_owner }}" | tr '[:upper:]' '[:lower:]')
        docker tag pwa_frontend:dev ghcr.io/$OWNER/pwa_frontend:dev
        docker push ghcr.io/$OWNER/pwa_frontend:dev